.sentMessage {
  text-align: right;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor:pointer
}
.sentText {
  /* width: "70%" !important; */
  background-color: #3c79f5;
  color: white;
  /* text-align: right; */
  width: fit-content;
  max-width: 80%;
  padding: 10px;
  margin-right: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 17px;
}

.receivedMessage {
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.receivedText {
  /* height: 100px */
  max-width: 80%;
  width: fit-content;
  /* border: 1px solid black; */
  padding: 10px;
  margin-left: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  /* background-color: rgb(221, 221, 255); */
  color: rgb(255, 255, 255);
  background-color: #999;
  font-size: 17px;

  /* font: 20px; */
}

.dateBox {
  width: 100%;
  display: block;
  font-size: 10px;
  text-align: left;
  margin-top: 5px;
}
